<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Employer: ' + employer.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p><span>Name: </span><span th:text="${employer.name}"></span></p>
    <p><span>Location: </span><span th:text="${employer.location}"></span></p>
<!--    <br />-->
<!--    <a th:href="@{../list/jobs(column=employer,value=${employer.name})}" th:text="View all jobs at ${employer.name}"></a>-->

</div>

</body>
</html>